JWT_TOKEN_SECRET="jwttokensecret"
AWS_S3_REGION="local"
S3_BUCKET_NAME="local"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
MONGODB_URI="mongodb://localhost:27017/pickthisapp"
REDIS_URL="redis://localhost:6379"
PORT=3000